{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

{% if user.is_authenticated and user.username == person.username %}
    <a href="{% url 'users:updateaccount' person.username %}">Edit Account</a>
{% endif %}

<div id="story-wrapper">
    <h2>{{ person.username }}'s Profile</h2>
    <a href="{% url 'news:userstories' person.username %}">Stories</a>
</div>




    {% comment %} {% if stories %}
        {% for story in stories %}
            {{ story.title }}
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %} {% endcomment %}


{% endblock %}