{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}



<div id="story-wrapper">
    <h2>{{ person.username }}'s Profile</h2>
    <a href="{% url 'news:userstories' person.username %}">All Stories</a>

    {% if user.is_authenticated and user.username == person.username %}
    <a href="{% url 'users:updateaccount' person.username %}">Edit Account</a>
    <a href="{% url 'news:newsStory' %}">Write New Story</a>
    {% endif %}

</div>


<div>
    <div>
        <img src="{{ person.pic }}">
    </div>

    <div>
        {{ person.bio }}
    </div>
</div>

Stories by {{ person.username }}
<ul>
    {% if person.published_stories.all %}
        {% for story in person.published_stories.all %}
        <li>
            <a href="{% url 'news:story' story.id %}">{{ story.title }}</a>
        </li>
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</ul>

Favourited
<ul>
    {% if favourited %}
        {% for fav in favourited %}
        <li>
            {% comment %} {{ fav.title }} {% endcomment %}
            <a href="{% url 'news:story' fav.id %}">{{ fav.title }}</a>
        </li>
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</ul>



{% endblock %}