/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
    /* background-color: cornflowerblue; */
    padding: 0;
    margin: 0 auto;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* min-height:1300px; */

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: cornflowerblue;
    margin: 0;
    padding: 1em;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

footer {
    background-color: cornflowerblue;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}


img {
    /* filter: grayscale(100%); */
}

h1 {font-family: 'Russo One', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {font-family: 'Russo One', sans-serif;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3rem;
    font-size: 1rem;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

.main-body {
    margin: 9em auto 2em auto;
    background-color: white;
    padding: 0 1em 1em 1em;

}

nav a {
    padding: 0.05em;
}

form input {
    font-size:1.5rem;
    width: 600px;
}

#id_content {
    font-size:1.5rem;
    width: 600px;
}

#id_category {
    font-size:1.5rem;
}

form label {
    font-size:2rem;
}

.btn {
    font-size: 1.5rem;
    border-radius: 2px;
    background-color: lightgray;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn:hover {
    background-color: cornflowerblue;
}



button a {
    font-family: Arial;
}

button:hover {
    background-color: cornflowerblue;
    border-radius: 2px;
}

p.form {
    font-size: 2rem;
    font-family: Times;
    margin: 0;
}

textarea#id_content.textarea.form-control {
    min-height: 15em;
    resize: none;
}

div.paginator {
    margin-top: 2rem;
    display:flex;
    justify-content: center;
}

a.paginator {
    border: 1px solid black;
    border-radius: 2px;
    transition: 0.5s;
    font-size: 2rem;
    padding: 0 0.5rem;
    /* margin: 1rem; */
}

a.paginator:hover {
    border: 1px solid black;
    border-radius: 2px;
    background-color: cornflowerblue;
}

a#this-one {
    background-color: cornflowerblue;
}

div#profile-pic img {
        height: auto;
        width: 100%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
}

#profile-pic a:hover {
    border: 1px solid black;
    background: cornflowerblue;
    
}

#profile-pic {
    text-align: center;
}

#profile-pic a {
    font-size: 1.5rem;
    padding: 0.2rem;
    margin-top: 0.4rem;
}

button.btn {
    border-radius: 4px;
}