{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div class="prof-container-stories">
 <h2 class="profile">Uncategorised Stories</h2>
</div>
    <div id="person-latest-stories">
        {% if stories %}
            {% for story in stories %}
                {% if story.pub_date %}
                    {% include "news/storyCardCategory.html" with story=story %}
            {% endif %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

{% endblock %}

 