{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

    <h2>Stories for category {{ category }}</h2>


   <div id="user-stories">
        {% if category.cat_stories.all %}
            {% for story in category.cat_stories.all %}
                {% include "./storyCard.html" with story=story %}
                {% comment %} {% include "./storyCard.html" with story=story position=forloop.counter %} {% endcomment %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>


{% endblock %}

 