{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}


<div class="my-form">
<form class="my-form" action="" id="create-story" method = "POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn1" name="_publish" type="submit" value="_publish">Post</button>
    <button class="btn btn2" name="_save" type="submit" value="_save">Save</button>
</form>
</div>
<div>
{% if request.user.is_staff %}
Need to create a category?
<button class='btn'><a href="{% url 'news:create-cat' %}" target="_blank">Create Category<a></button>
{% endif %}
</div>



{% endblock %}