{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div id="messages">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p class="messages">{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
</div>

    <a href="{% url 'news:latest-stories' %}"><h2>Latest Stories</h2></a>
       <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <a href="{% url 'news:top-stories' %}"><h2>Top Stories</h2></a>
    <div id="latest-stories">
        {% if most_fav %}
            {% for story in most_fav %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    {% for category in categories %}
    <a href="{% url 'news:all-cat' %}?q={{ category.name }}"><h2>{{ category.name }}</h2></a>
    <div id="latest-stories">
        {% if category %}
            {% for story in category.stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div> 
    {% endfor %}

    <a href="{% url 'news:all-cat' %}?q=uncategorised"><h2>Uncategorised</h2></a>
    <div id="latest-stories">
    {% if uncategorised %}
        {% for story in uncategorised.stories %}
            {% include "./storyCard.html" with story=story position=forloop.counter %}
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
    </div> 

{% endblock %}    