{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div id="messages">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
</div>

    <h2>Latest News</h2>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <a href="{% url 'news:all-cat' %}"><h2>Favourite Stories</h2></a>
    <div id="all-stories">
        {% if most_fav %}
            {% for story in most_fav %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>



    <h4>Funny</h4><br>
    <div id="all-stories">
        {% if funny %}
            {% for story in funny %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

{% endblock %}    