{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}


    <form action="{% url 'news:search' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
        <button class="btn" type=submit>Search</button>
    </form>



{% if object_list %}
<h2>Search Results</h2>
{{ object_list | length }} {{ object_list|length|pluralize:"result, results" }} found.

    {% for story in object_list %}
        {% if story.pub_date %}
                {% include "news/storyCardSearch.html" with story=story %}
        {% endif %}
    {% endfor %}
{% endif %}




{% endblock %}

 