{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>

    <div>
    <form action="{% url 'news:favourite-story' story.pk %}" method="POST">
        {% csrf_token %}

        {% if favourited %}
            <button type="submit", name="post_fav", value="{{ story.id }}"><i class="fas fa-star"></i></button>
        {% else %}
            <button type="submit", name="post_fav", value="{{ story.id }}"><i class="far fa-star"></i></button>
        {% endif %}
        
        - {{ total_favs }} {{ total_favs|pluralize:"person,people" }} favourited this story
    </form>
    </div>
   
    {% if story.category %}
        <h4><a href="{% url 'news:cat-stories' story.category.name %}">{{ story.category.name }}</a></h4>
    {% else %}
        <h4>Uncategorised</h4>
    {% endif %}

    {% if user.is_authenticated and story.author == user %}
        <a href="{% url 'news:update-story' story.id %}">Edit Story</a>
    {% endif %}

    <a href="{% url 'users:profile' story.author.username %}">{{ story.author }}</a>    

    <div id="story-content">
        <img src="{{ story.image }}">
        {{ story.content|linebreaks }}
    </div>
</div>

{% endblock %}