<div class="story-card" id="story-card-{{ position }}">
    <a href="{% url 'news:story' story.id %}">
        {% if not story.image %}
            <img src="https://picsum.photos/600">
        {% else %}
            <img src="{{ story.image }}">
        {% endif %}
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            {% if story.author.first_name and story.author.last_name %}
                <h4>{{ story.author.first_name }} {{ story.author.last_name }}</h4>
            {% else %}
                <h4>{{ story.author }}</h4>
            {% endif %}
            {% if story.category %}
            <h4>{{ story.category }}</h4>
            {% else %}
            <h4>Uncategorised</h4>
            {% endif %}
            <h4>{{ story.pub_date }}</h4>
        </div>
    </a>
</div>
