<div class="story-card" id="story-card-{{ position }}">
    <a href="{% url 'news:story' story.id %}">
        {% if not story.image %}
            <img src="https://picsum.photos/600">
        {% else %}
            <img src="{{ story.image }}">
        {% endif %}
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <h4>
            {% if story.author.first_name and story.author.last_name %}
                {{ story.author.first_name }} {{ story.author.last_name }},
            {% else %}
                {{ story.author }},
            {% endif %}
          
            {{ story.pub_date }}</h4>

            Liked by {{story.fav_count}} {{ story.fav_count|pluralize:"person,people" }} <br>
            {% if story.category %}
            <h4>{{ story.category }}</h4>
            {% else %}
            <h4>Uncategorised</h4>
            {% endif %}
            
        </div>
    </a>
</div>
