{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<h2>Update Story</h2>

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
   
    <button class='btn' name="_save" type="submit">Save</button>
    {% if not object.pub_date %}
        <button class='btn' name="_publish" type="submit">Publish</button>
    {% endif %}
        <button class='btn'><a class="delete" href="{% url 'news:delete-story' object.id %}">Delete</a></button>
        {% if request.user.is_staff %}
        <button class='btn'><a href="{% url 'news:create-cat' %}" target="_blank">Create Category<a></button>
        {% endif %}
</form>


{% endblock %}

